<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title|default('Event Management System') }}</title>
    <link rel="stylesheet" href="/COURSE_WORK/Event%20Management%20System/assets/css/style.css">
    <script src="/COURSE_WORK/Event%20Management%20System/assets/js/ajax.js"></script>
    <input type="hidden" id="exclude_id" value="EVENT_ID">


</head>
<body>

<h1>Event Management System</h1>
<hr>
{% if session.user_name is defined %}
    <div style="float:right;">
        Welcome, {{ session.user_name|e }} |
        <a href="logout.php">Logout</a>
    </div>
{% endif %}


{% block content %}{% endblock %}

<footer>
    <p>© 2026 Event Management System</p>
</footer>

</body>
</html>
